{% extends "base.html" %}

{% block title %}
  Patient Information
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="my-3">Patient Information</h2>
  <div class="row">
    <div class="col-md-6">
      <p>Average Age: {{ avg_age }}</p>
      <p>Most Common Diagnosis: {{ common_diagnosis }}</p>
    </div>
    <div class="col-md-6 text-right">
      <label for="genderFilter">Filter by Gender:</label>
      <select id="genderFilter" class="custom-select w-auto">
        <option value="all">All</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Number of Inpatient Spells</th>
        <th>Average Duration of Spells</th>
      </tr>
    </thead>
    <tbody>
      {% for _, row in inpatient_info.iterrows() %}
      <tr data-gender="{{ row.GENDER }}">
        <td>{{ row.PATIENT_ID }}</td>
        <td>{{ row.CURRENT_AGE }}</td>
        <td>{{ row.GENDER }}</td>
        <td>{{ row.SPELL_COUNT }}</td>
        <td>{{ row.AVERAGE_DURATION }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
{% endblock %}